*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CLASSI DI LAYOUT */
.container{
    max-width: 900px;
    margin: 0 auto;
}




/* CLASSI DI STILE */
.text-center{
    text-align: center;
}

.pt-10{
    padding-top: 10px;
}

.fs-20{
    font-size: 20px;
}

